<h2>About Charted Code</h2>
<p>A library of code to promote advancement in functionality.</p>
<ul>
  <li>No need to rediscover functionality</li>
  <li>Advance beyond what has already been found</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/charted-code">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://davidruhmann.com">The Author</a>
  </li>
</ul>
