<h2>About Charted Code</h2>
<p>A library of code to promote advancement in functionality.</p>

<h2>Been There, Done That</h2>
<ul>
  <li>No need to rediscover</li>
  <li>Build off a strong base</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/charted-code">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://davidruhmann.com">The Author</a>
  </li>
</ul>
